* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

h1 {
  
  color: azure;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: black;
  height: 60px;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  color: azure;
  justify-content: space-around;
  gap: 20px;

}

ol{
    padding-left: 30px;

    
}

dl{
    padding-left: 30px;
}

a:link {
    color: #fff;
}

a:visited{
    color: darkkhaki
}

a:hover{
    color: blue;
}

a{
    transition: .3s;
    text-decoration: none;
}

a:active{
color: darkcyan;
}

a:focus{
    color: blueviolet;
}

button {
    padding: 20px;
    cursor: pointer;
    transition: .2s;
}

button:hover, button:focus{
    color: #fff;
    background-color: black;
}